* {
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

*::after {
  box-sizing: border-box;
  outline: none;
}

*::before {
  box-sizing: border-box;
  outline: none;
}

*::focus {
  box-sizing: border-box;
  outline: none;
}

html {
  font-weight: normal;
  font-size: 14px;
  min-height: 100%;
}

body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: Regular;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: Medium;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: Bold;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  padding: 70px 15px 500px 15px;
}

.dataList {
  margin-top: 60px;
  max-width: 800px;
  width: 100%;
}
.dataList__options-inner {
  display: block;
  margin-bottom: 15px;
}
.dataList__options {
  position: relative;
  max-width: 50%;
}
.dataList__options-amount-input, .dataList__options-sorting-input, .dataList__options-btn-enter, .dataList__options-btn-clear {
  height: 45px;
  width: 100%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: text;
  font-size: 17px;
}
.dataList__options-amount-input:hover, .dataList__options-amount-input:focus, .dataList__options-sorting-input:hover, .dataList__options-sorting-input:focus, .dataList__options-btn-enter:hover, .dataList__options-btn-enter:focus, .dataList__options-btn-clear:hover, .dataList__options-btn-clear:focus {
  border: 1px solid rgba(31, 32, 65, 0.75);
}
.dataList__options-amount-input, .dataList__options-sorting-input {
  cursor: text;
  padding: 15px;
  margin-top: 5px;
}
.dataList__options-sorting {
  position: relative;
}
.dataList__options-sorting-arrow {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 5px;
  right: 0px;
  background: url(../assets/images/triangle_black.svg) center center no-repeat;
  cursor: pointer;
}
.dataList__options-sorting-arrow_active {
  transform: rotate(180deg);
}
.dataList__options-sorting-dropdown {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(31, 32, 65, 0.75);
  background-color: #fff;
}
.dataList__options-sorting-dropdown_hiden {
  visibility: hidden;
}
.dataList__options-sorting-dropdown-paragraph {
  width: 100%;
  border-bottom: 1px solid rgba(31, 32, 65, 0.75);
  padding: 10px 14px;
  cursor: pointer;
}
.dataList__options-sorting-dropdown-paragraph:hover {
  background-color: rgb(235, 235, 243);
}
.dataList__options-sorting-dropdown-paragraph:last-child {
  border-bottom: 0;
}
.dataList__options-btn {
  width: 100%;
  display: flex;
}
.dataList__options-btn-enter, .dataList__options-btn-clear {
  font-size: 19px;
  background-color: #dbd9e8;
  cursor: pointer;
}
.dataList__options-btn-enter {
  margin-left: 5px;
}
.dataList__options-btn-clear {
  margin-right: 5px;
}
.dataList__output-area {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.dataList__paragraphs {
  width: 50%;
  padding: 15px;
  border: 2px dashed grey;
}
.dataList__paragraph {
  display: flex;
  align-items: center;
  min-height: 65px;
  width: 100%;
  margin-top: 15px;
  background-color: #dbd9e8;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 10px 15px 10px 0;
}
.dataList__paragraph:first-child {
  margin-top: 0;
}
.dataList__paragraph_hiden {
  visibility: hidden;
}
.dataList__paragraph_fake {
  position: absolute;
  margin: 0;
  z-index: 100;
}
.dataList__paragraph:hover, .dataList__paragraph:focus {
  box-shadow: inset 0px 0px 1px 1px rgba(31, 32, 65, 0.5);
}
.dataList__paragraph-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  margin-left: 15px;
  background-color: rgb(136, 92, 247);
  color: white;
  pointer-events: none;
}
.dataList__paragraph-text {
  margin-left: 15px;
  word-wrap: break-word;
  pointer-events: none;
}
.dataList__description-wrapper {
  min-height: 100%;
  width: 50%;
  padding: 15px 15px 15px 23px;
}
.dataList__description {
  padding: 15px;
  position: absolute;
  height: auto;
  font-weight: regular;
  background-color: #dbd9e8;
  border-radius: 10px;
  font-size: 17px;
}
.dataList__description:before {
  position: absolute;
  height: 31px;
  width: 31px;
  top: 13px;
  left: -20px;
  background: url(../assets/images/triangle_purple.svg) center center no-repeat;
  content: "";
}
.dataList__description_hiden {
  visibility: hidden;
}
.dataList__description-parameters {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 46px;
  font-weight: bolder;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
