//Montserrat
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: Regular;
}
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-weight: Medium;
}
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-weight: Bold;
}